<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Favicon -->
      <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
      <!-- Box icons -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
      <link rel="stylesheet" href="/css/styles.css">
        <title>TiendaSports</title>
    </head>
    
<body>
    <form action="/" method="POST" class="create-form">
        <div class="control-formulario">
            <label>Nombre de usuari@:</label>
            <input type="text" name="usuario" class="control">
        </div>
        
        <div class="control-formulario">
            <label>Contraseña:</label>
            <input type="password" name="contraseña" class="control">
        </div>
        
        <button type="submit" class="boton-formulario">Enviar</button>
    </form>
</body>
</html>