<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
  <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
  <!-- Box icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
  <link rel="stylesheet" href="/css/styles.css">
    <title>TiendaSports</title>
</head>


<!-- HEADER -->
<header class="header">
  <!-- NAVIGATION -->
  <nav class="nav container">
    <div class="navigation d-flex">
      <div class="hamburger">
        <i class="bx bx-menu"></i>
      </div>
      <div class="logo">
        <h2>TIENDASPORTS</h2>
      </div>

      <div class="menu">
        <div class="top">
          <span class="close">close <i class="bx bx-x"></i></span>
        </div>

        <ul class="nav-list d-flex">
          <li class="nav-item">
            <a href="#" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Shop</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Blog</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>

      <div class="icons d-flex">
        <div><i class="bx bx-search"></i></div>
        <div><i class="bx bx-user"></i></div>
        <div><i class="bx bx-heart"></i></div>
        <div>
          <i  href="cart.html" class="bx bx-shopping-bag"></i>
          <span class="align-center">0</span>
        </div>
      </div>
    </div>
  </nav>


<!-- MAIN -->

<main class="">
<p>Registrate para recibir todas nuestras ofertas y descuentos.</p>
  <form action="">
    <label for="nombre">
        <span>Nombre y Apellido</span>
        <input type="text" name="nombre" id="nombre" autocomplete="name" required>
    </label>
    <label for="correo">
        <span>Correo Electronico</span>
        <input type="email" name="correo" id="correo" autocomplete="email" required>
    </label>

    <div class="control-formulario">
  <label> Deseas recibir nuestras oferas?</label>
  <select name="" class="">
      <option value="">SI</option>
      <option value="">NO</option>

      <div class="">
        <label> Contraseña</label>
        <input type="text" nombre="contraseña"  class="control">
    </div>

    <div class="">
        <label> Confirmar Contraseña</label>
        <input type="text" nombre="contraseña"  class="control">
    </div>

    <label for="pais">
        <span>Provincia</span>
        <input type="text" name="pais" id="pais" autocomplete="country" required>
    </label>
    <label for="cp">
        <span>Código postal</span>
        <input type="text" name="cp" id="cp" autocomplete="postal-code" required>
    </label>
    <input type="submit">
</form>



 <!-- Footer -->

<footer id="footer" class="section footer">
  <div class="container">
    <div class="footer-container">
      <div class="footer-center">
        <h3>EXTRAS</h3>
        <a href="#">Brands</a>
        <a href="#">Gift Certificates</a>
        <a href="#">Affiliate</a>
        <a href="#">Specials</a>
        <a href="#">Site Map</a>
      </div>
      <div class="footer-center">
        <h3>INFORMATION</h3>
        <a href="#">About Us</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact Us</a>
        <a href="#">Site Map</a>
      </div>
      <div class="footer-center">
        <h3>MY ACCOUNT</h3>
        <a href="#">My Account</a>
        <a href="#">Order History</a>
        <a href="#">Wish List</a>
        <a href="#">blogletter</a>
        <a href="#">Returns</a>
      </div>
      <div class="footer-center">
        <h3>CONTACT US</h3>
        <div>
          <span>
            <i class="fas fa-map-marker-alt"></i>
          </span>
          42 Dream House, Dreammy street, 7131 Dreamville, USA
        </div>
        <div>
          <span>
            <i class="far fa-envelope"></i>
          </span>
          company@gmail.com
        </div>
        <div>
          <span>
            <i class="fas fa-phone"></i>
          </span>
          456-456-4512
        </div>
        <div>
          <span>
            <i class="far fa-paper-plane"></i>
          </span>
          Dream City, USA
        </div>
      </div>
    </div>
  </div>
  </div>
</footer>
</body>
</html>